{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="lead">Somos un grupo de amigos que nos conocemos desde jardin. Debajo vamos a detallar un poco de historia de cada uno:<br></p>

<br></br>
<span style="font-family:arial,helvetica,sans-serif; font-size:20px">Santiago Bua</span><br>
Actualmente trabajando en ASAPP de Service Desk.<br>
Vicioso al borde de la enfermedad causante por los videojuegos.<br>
Profesional gastronomico por hobbie.<br>
Estoy interesado en el curso de Python ya que creo va a potenciar mis posibilidades laborales actuales y a futuro.<br>

<br></br>
<span style="font-family:arial,helvetica,sans-serif; font-size:20px">Hernan Camaros</span><br>
Fotografo freelance.<br>
Me gusta tocar la batería, jugar videojuegos y mirar series/peliculas.<br>
Curso de musculacion deportiva.<br>
Despues del curso pretendo trabajar de esto para poder mejorar mi situacion economica.<br>

<br></br>
<span style="font-family:arial,helvetica,sans-serif; font-size:20px">Lucio Cavallo</span><br>
Administrativo contable, sonidista/productor.<br> 
Usualmente disfruto de tocar la guitarra, el bajo, ir al cine y mirar series.<br>
Agente de propaganda médica y técnico en sonido.<br>
Empecé este curso porque me empezó a interesar la tecnología y la programación para el día de mañana poder hacer mis propias páginas y plugins de diseño de sonido, y me interesa cambiar mi vida laboral y economica<br>
<br></br>


{% endblock %}
