{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/821749/pexels-photo-821749.jpeg')">
<section class="container my-5">
<div class="intro">
    <p>&nbsp;</p>

<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial">
<tbody>
<tr>
<td style="vertical-align:bottom">
<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial; font-family:sans-serif,arial,verdana,trebuchet ms">
<tbody>
<tr>
    <td style="vertical-align:bottom">
        <u><h1 style="color:white;">Curso Inicial</h1></u>
    <p dir="ltr"><span style="font-family:arial,helvetica,sans-serif; font-size:12px; color:white;">Este curso está diseñado para quienes quieran o necesiten aprender fotografía con fines expresivos, entretenimiento o como complemento profesional con salida laboral a través de una metodología simple, que integra la teoría con la práctica constante.</span><br>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


</div>
<p></p>
<u><h3 class="tarzana" style="color:white;">Contenidos:</h3></u>
<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif" style="color:white;"><ul><li style="color:white;">¿Qué es la fotografía? Breve repaso histórico.</li><br>
    <li style="color:white;">La Cámara y sus partes: ¿cómo funciona?</li><br>
    <li style="color:white;">principales controles de una cámara.</li><br>
    <li style="color:white;">Comparación entre la cámara analógica y la cámara digital.</li><br>
    <li style="color:white;">Tipos (dslr/mirrorless/etc) y formatos de cámaras (full frame/apsc/etc) – evolución - y soportes sensibles.</li><br>
    <li style="color:white;">Formatos de archivos: raw vs jpg - ¿que es un dpi/ppp?.</li><br>
    <li style="color:white;">Cámara oscura vs cámara de fotos actual.</li><br>
    <li style="color:white;">Modos automáticos, semiautomáticos y Manual.</li><br>
    <li style="color:white;">Tipos de películas (diapo, negativo) vs tipos de sensores.</li><br>
    <li style="color:white;">Tipos de memorias.</li><br>
    <li style="color:white;">Triangulo de exposición y Balance de blancos (WB): ISO, Diafragma, Vel. De Obturacion .</li><br>
    <li style="color:white;">Enfoque: manual vs automático - motores de enfoque: simple, servo y combinado, zonas de auto foco.</li><br>
    <li style="color:white;">Fotometría.</li></span></p></ul>

<p><br>
<span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Objetivos<br></strong>
Aprender y Dominar por completo una cámara, comprender sus parámetros, dominar la luz para conseguir una fotografía correctamente expuesta.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Bibliografía</strong>:<br>
Se pondrá a disposición de los alumnos las fichas técnicas elaboradas.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Prácticas</strong>:<br>
- Actividades prácticas durante todas las clases<br>
- 2 salidas integradoras, de las cuáles 1 es a contraturno</span></span></p>


<u><h3 class="tarzana" style="color:white;">Anotate:</h3></u>
<p></p>
<p class="mb-0"><p><a href="{% url 'inicial' %}" ><button type="button"> Curso Inicial </button></a></p>
</header>
</section>
{% endblock %}

