{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1686451/pexels-photo-1686451.jpeg')">
<section class="container my-5">
<div class="intro">
    <p>&nbsp;</p>

<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial">
<tbody>
<tr>
<td style="vertical-align:bottom">
<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial; font-family:sans-serif,arial,verdana,trebuchet ms">
<tbody>
<tr>
    <td style="vertical-align:bottom">
        <u><h1 style="color:white;">Curso Intermedio</h1></u>
    <p dir="ltr"><span style="font-family:arial,helvetica,sans-serif; font-size:12px; color:white;">El curso está diseñado para quienes quieran o necesiten seguir aprendiendo y mejorar en la fotografía. No es necesario haber realizado el curso inicial pero si tener los conocimientos básicos sobre la cámara, luz, parámetros, etc…</span><br>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


</div>
<p></p>
<u><h3 class="tarzana" style="color:white;">Contenidos</h3></u>
<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><ul><li style="color:white;">Introducción a dslr filmmaking.</li><br>
    <li style="color:white;">Luz y sombras.</li><br>
    <li style="color:white;">Introducción al flash de cámara.</li><br>
    <li style="color:white;">Estudio: ¿Flash o luz continua? Y accesorios.</li><br>
    <li style="color:white;">Armado de imágenes para muestra final.</li><br>
    <li style="color:white;">Introducción digital - bajada de fotografías: cable, pendrive, sistemas bluetooth, wireless.</li><br>
    <li style="color:white;">Tipos de fotografía: urbana, arquitectura, retrato, naturaleza, paisaje, stock, indumentaria, producto, etc.</li><br>
    <li style="color:white;">Distintas Lentes para los tipos de fotografía.</li><br>
    <li style="color:white;">Clave Alta y Baja.</li><br>
    <li style="color:white;">Bracketing y fotografía HDR.</li><br>
    <li style="color:white;">Bokeh.</li><br>
    <li style="color:white;">Composición y sus “reglas”. / regla de los tercios.</li><br>
    <li style="color:white;">Accesorios para la cámara (flash, lentes UV, densidad neutra, trípode/monopie, etc.)</li></span></span></p></ul>

<p><br>
<span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Objetivos<br></strong>
Dominar por completo una cámara teórica y prácticamente, aplicar los conocimientos adquiridos y mejorar los aspectos convenientes.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Bibliografía</strong>:<br>
Se pondrá a disposición de los alumnos las fichas técnicas elaboradas.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Prácticas</strong>:<br>
- Actividades prácticas durante todas las clases<br>
- 2 salidas integradoras, de las cuáles 1 es a contraturno</span></span></p>


<u><h3 class="tarzana" style="color:white;">Anotate:</h3></u>
<p></p>
<p class="mb-0"><p><a href="{% url 'intermedio' %}" ><button type="button"> Curso Intermedio </button></a></p>
</header>
</section>
{% endblock %}