{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/3022134/pexels-photo-3022134.jpeg')">
<section class="container my-5">
<div class="intro">
    <p>&nbsp;</p>

<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial">
<tbody>
<tr>
<td style="vertical-align:bottom">
<table style="border-collapse:collapse; border-color:initial; border-style:none; border-width:initial; font-family:sans-serif,arial,verdana,trebuchet ms">
<tbody>
<tr>
    <td style="vertical-align:bottom">
        <u><h1 style="color:white;">Curso Avanzado</h1></u>
    <p dir="ltr"><span style="font-family:arial,helvetica,sans-serif; font-size:12px; color:white;">El curso está diseñado para quienes quieran o necesiten profundizar en conocimientos técnicos. No es necesario haber realizado el curso intermedio, pero si tener los conocimientos previos.</span><br>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


</div>
<p></p>
<u><h3 class="tarzana" style="color:white;">Contenidos</h3></u>
<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><ul><li style="color:white;">Repaso rápido de teoría etc.</li><br> 
    <li style="color:white;">Técnicas (barrido, foto con movimiento, larga exposición, etc).</li><br> 
    <li style="color:white;">Fotografía en estudio con modelo e indicaciones.</li><br> 
    <li style="color:white;">Fotografía en la calle/naturaleza con modelo e indicaciones.</li><br> 
    <li style="color:white;">Fotografía artística.</li><br> 
    <li style="color:white;">Edición en Photoshop.</li><br> 
    <li style="color:white;">Edición en Lightroom.</li><br> 
    <li style="color:white;">Ética y leyes Sobre la fotografía.</li><br> 
    <li style="color:white;">Entrega y muestra del trabajo final con exposición de fotos.</li></span></span></p></ul>

<p><br>
<span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Objetivos<br></strong>
ADominar por completo una cámara teórica y prácticamente, aplicar los conocimientos adquiridos</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Bibliografía</strong>:<br>
Se pondrá a disposición de los alumnos las fichas técnicas elaboradas.</span></span></p>

<p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif; color:white;"><strong>Prácticas</strong>:<br>
- Actividades prácticas durante todas las clases<br>
- 2 salidas integradoras, de las cuáles 1 es a contraturno</span></span></p>


<u><h3 class="tarzana" style="color:white;">Anotate:</h3></u>
<p></p>
<p class="mb-0"><p><a href="{% url 'avanzado' %}" ><button type="button"> Curso Avanzado </button></a></p>
</header>
</section>
{% endblock %}

