{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/2925322/pexels-photo-2925322.jpeg')">
<section class="container my-5">
    <title style="color:white;">Inscripcion Avanzado</title>
</head>
<body>
    <h2 style="color:white;">Inscripcion al curso Avanzado:</h2>
    <p></p>
    <h4 style="color:white;">Dejanos tus datos y nos contactaremos:</h4>
    <p></p>
    <p></p>
    <form action = "" method="POST" style="color:white;">
        {% csrf_token %}

        <table>

        {{ form.as_table }}
        
        </table>    
        <br></br>  
        <input type="submit" value="Submit">
    </form>
</header>
</body>
</section>

{% endblock %}