{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'Nikon.jpeg' %}" width="300" height="400" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Tienda Fotografica</h1>
                <p class="text-white-50 mb-0">Por:</p>
                <p class="text-white-50 mb-0">Lucio Cavallo Carbonell</p>
                <p class="text-white-50 mb-0">Santiago Bua</p>
                <p class="text-white-50 mb-0">Hernan Camaros</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Nuestro objetivo, enseñar a ver.</h2>
                        <p class="lead">Ofrecemos un Curso de Formación Profesional en Fotografía. Es un programa integral de 84 horas, en donde no solamente vas a aprender a usar la cámara y los programas de edición necesarios para lograr fotos profesionales (Lightroom y Photoshop) sino que además vas a cultivar una mirada crítica sobre la fotografía mientras construís un estilo propio.</p>
                        <p class="mb-0">Concebimos la cámara como una extensión de la mirada y es por eso que abordamos este curso desde un ángulo técnico y uno estético, exponiéndote a diversos estilos y producciones de autores icónicos y contemporáneos que han marcado la historia de la fotografía. Vas a explorar una variedad de especialidades, técnicas y estéticas fotográficas, para definir y fortalecer la mirada propia.</p>
                        <p>.</p>
                        <p>.</p>
                        <p>.</p>
                        <p>.</p>
                        <p class="mb-0"><h3>   Nos enfocamos en cuatro rubros de la fotografía:</p></h3>
                        <p></p>
                        <p class="mb-0">   Paisaje y naturaleza</p>
                        <p class="mb-0">   Retrato</p>
                        <p class="mb-0">   Documental</p>
                        <p class="mb-0">   Fotografía publicitaria de estudio</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Clases Técnicas:</h2>
                        <p class="mb-0">En las clases técnicas, se explora el uso de la cámara, la composición fotográfica, la iluminación, el uso del flash, los lentes, filtros, accesorios y herramientas para optimizar las tomas.</p>
                        <p class="mb-0">Respecto del revelado y retoque fotográfico, se enseñan técnicas digitales con los dos programas imprescindibles para el fotógrafo: Lightroom para revelado y Photoshop para retoque y fotomontaje.</p>
                        <p class="mb-0">Respecto del revelado y retoque fotográfico, se enseñan técnicas digitales con los dos programas imprescindibles para el fotógrafo: Lightroom para revelado y Photoshop para retoque y fotomontaje.</p>
                        <p class="mb-0">Adobe Photoshop Lightroom es una herramienta desarrollada específicamente para fotógrafos que te permite visualizar, editar y gestionar fotos digitales, enfocándose en el revelado digital.</p>
                        <p class="mb-0">Adobe Photoshop es el sofware profesional standard de edición, composición, pintura y retoque de la imagen digital.</p>
                        <p></p>
                        <h2>Clases estéticas:</h2>
                        <p class="mb-0">Las clases estéticas se enfocan en el análisis del trabajo de diversos fotógrafos icónicos y contemporáneos, una exploración de su mirada, su estilo y un desglose de las técnicas que emplearon para traducir su visión en imágenes concretas. La intención es exponer al estudiante a diversas influencias que estimulen el deseo por construir un estilo propio y una narrativa visual original.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% endblock %}