{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/8839157/pexels-photo-8839157.jpeg')">
    <div class="container px-5">
        <b style="color:white;"><u>Inicia sesion:</u></b>
        <p></p>
        <form action="" method="POST" style="color:white;">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Iniciar Sesion</button>
        </form>
    </div>
</section>

{% endblock %}