{% extends "base.html" %}
{% load static %}
{% block contenidoQueCambia %}

  <button class="polaroid" style="background-color:white; border:none">
    <div class="container">
            <br></br>
            <br></br>
            {% for item in itemsitos %}
                {{ item.titulo }}<br>
                {{ item.marca }}<br>
                <td><img src="{% get_media_prefix %}NikonTest1.png" width="300" alt=""></td><br>
                {{ item.precio }}<br>
            {% endfor %}
            <br></br>
            <br></br>
            <br></br>

            <input type="submit" value="Comprar">
    </div>
  </button>
</form>


{% endblock %}

<!-- XXXXX -->